#!/usr/bin/env python
# -*- coding: utf-8 -*-
# ✓

import os


config = {
	"consumer_key" : "",
	"consumer_secret" : "",
	"access_token" : "",
	"access_token_secret" : "",
}

AMQP_SERVER = os.getenv("AMQP_SERVER") or "localhost"
